Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
.git
.gitignore
.eslintrc.json
.vscode
.DS_Store
cypress
__tests__
coverage
*.md
dist